html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

.c {
    height: 100%;
    width: 95%;
    padding-top: 50px;
    margin: 0 auto -50px;
}

#chart {
    height: 95%;
    width: 100%;
    margin: 2% auto;
}

.btn-slg {
    width: 100px;
    line-height: 78px;
}

.red {
    color: #761c19;
}

.green {
    color: #2b542c;
}